@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: url('output.gif') repeat-x;
    background-size: cover;
    background-position: center 20%; /* Shifts the background down, adjust the percentage to suit */
    animation: moveBackground 10s linear infinite;
    color: black;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    padding: 140px;
    margin: 50; /* Ensures no extra margin at the top of the body */
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.resume {
    width: 60%;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
    margin-top: 100px; /* Adjust this value to control how far down the resume goes */
}

h1, h2, h3 {
    text-transform: uppercase;
}